@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1.0;
}
header{
    width: 100%;
    padding: 20px 50px;
    background-color: white;

    position: absolute;
    top: 0%;
    left: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 200px;
}
header nav{
    display: flex;
}
header li a{
    color: #D3B34D;
    font-size: 1.3em;
    padding: 5px;
}
header li a:hover{
    background-color: #D3B34D;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.253);
    transition: 0.5;

}
header li{
    margin: 0px 15px;
}
header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0%;
}
.hero{
    background: yellow url(../imagens/hero.jpg) no-repeat center top;
    background-size: cover;

    min-height: 100vh;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}
.hero h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero h3{
    font-size: 2rem;
    margin-bottom: 15px;
}
.btn{
    background-color: white;
    border-radius: 4px;
    color: #D3B34D;
    padding: 20px 50px;
    text-transform: uppercase;
    text-shadow: none;
}
.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    text-align: center;
}
.conheca-o-hotel h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #D3B34D;
}
.conheca-o-hotel p{
    max-width: 800px;
    margin-bottom: 35px;
    color: #D3B34D;
}
.conheca-o-hotel hr{
    width: 200px;
    height: 2px;
    background-color: #D3B34D;
    margin-bottom: 70px;
    border: none;
}
.grid #imagem-1{
    background-image: url(../imagens/imagem-1.jpg);
}
.grid #imagem-2{
    background-image: url(../imagens/imagem-2.jpg);
}
.grid #imagem-3{
    background-image: url(../imagens/imagem-3.jpg);
}
.grid #imagem-4{
    background-image: url(../imagens/imagem-4.jpg);
}
.conheca-o-hotel .grid{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}
.conheca-o-hotel .grid li{
    height: 300px;
    padding: 20px;
    border-radius: 4px;

    background-clip: content-box;
    background-size: cover;
    background-position: center center;
}
.conheca-o-hotel .small{
    flex-basis: 40%;
}
.conheca-o-hotel .large{
    flex-basis: 60%;
}
.caracteristicas{
    background-color: #D3B34D;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px 50px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}
.caracteristicas h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: white;
}
.caracteristicas p{
    max-width: 800px;
    margin-bottom: 35px;
    color: white;
    font-size: 1.1rem;
}
.caracteristicas hr{
    width: 200px;
    height: 2px;
    background-color: white;
    margin-bottom: 70px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}
.caracteristicas .grid{
    width: 100%;
    display: flex;
}
.caracteristicas li{
    padding: 0px 30px;
    text-align: center;
}
.caracteristicas li span{
    color: #6d5d28;
    font-size: 2.5rem;
}
.caracteristicas h4{
    color: #6d5d28;
    font-size: 2rem;
    margin-bottom: 20px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 100px 50px;
    color: #D3B34D;
}
.newsletter h3{
    font-size: 2rem;
    margin-bottom: 35px;
}
.newsletter p{
    max-width: 800px;
    margin-bottom: 35px;
    font-size: 1.1rem;
}
.newsletter hr{
    width: 200px;
    height: 2px;
    margin-bottom: 70px;
    border: none;
    background-color: #D3B34D;
}
.newsletter form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 80%;
    max-width: 800px;
}
.newsletter input#iemail{
    padding: 15px;
    border: 1px solid #D3B34D;
    border-radius: 4px;
    margin-right: 15px;
    flex: 1;
}
#botao-envio{
    padding: 15px;
    background-color: #D3B34D;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
footer{
    background-color: #D3B34D;
    color: #6d5d28;

    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
    }
    header img{
        margin-bottom: 15px;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero h3{
        font-size: 1.5rem
    }
    .grid > .small{
        flex-basis: 100%;
    }
    .grid > .large{
        flex-basis: 100%;
    }
    .caracteristicas .grid{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #iemail{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}