@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

:root{
    /*FONTES*/
    --fonte1: verdana, geneva, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

    
body{
    background-color: darkgray;
    
    min-height: 100vh;

    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;

    font-size: 6vw;
    font-variant: small-caps;
    font-family: var(--fonte2);
}
@media screen and (min-width: 1200px) {
    header > h1 {
       font-size: 72px;
    }
  }
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding: 10vh 0vh 10vh 3vh;
    line-height: 2em;
}
section.normal{
    background-color: white;
    color: black;

}
section.imagem{
    background-color: rgb(36, 35, 35);
    color: white;
    box-shadow: inset 0px 0px 20px black;
    
}
pre{
    white-space: pre-line;

    padding-bottom: 1em;

    font-family: var(--fonte3);
    font-size: 3vw;
}
@media screen and (min-width: 1200px) {
    pre {
       font-size: 36px;
    }
  }
section.imagem > pre{
    background-color: rgba(0, 0, 0, 0.37);

    width: fit-content;

    padding: 1vh;

    text-shadow: 1px 1px 1px black;
}
#fundo1{
    background: url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}
#fundo2{
    background: url(../imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;

    text-align: center;

    padding: 10px;
}
